@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /* NERO e ORO */
  /* --gold: #d4af37;
  --bg-gold: rgb(212, 175, 55);
  --bg-bronze: rgba(80, 49, 19, 1);
  --bg-gold-tr: rgba(212, 175, 55, 1);
  --primary: white;
  --secondary: black; */

  /* GRIGIO e ARANCIONE */
  --gold: #e16e00;
  --bg-gold: rgb(200, 110, 0);
  --bg-bronze: rgba(80, 49, 19, 1);
  --bg-gold-tr: rgba(200, 110, 0, 1);
  --primary: black;
  --secondary: #c0c0c0;
  --tertiary: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "EB Garamond", serif;
  background-color: var(--secondary);
  max-width: 100vw;
}

header {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.upper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  background: var(--bg-gold);
  background: linear-gradient(
    275deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
  z-index: 999;
}

.center,
.right {
  height: 100%;
  width: 100%;
}

.left .inside-left {
  display: flex;
  justify-content: space-evenly;
}

.left .inside-left > div > i {
  margin: 10px 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: var(--tertiary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-10%);
}

.left .inside-left > div > i:hover {
  transform: scale(1.1);
}

.instagram,
.youtube,
.facebook {
  margin: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.instagram > i {
  background-color: #fbad50;
}

.youtube > i {
  background-color: #c4302b;
}

.facebook > i:last-child {
  background-color: #4267b2;
}

.center {
  margin: 80px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > img {
  width: 80%;
  border-radius: 50%;
  max-width: 180px;
  max-height: 180px;
  padding: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.user {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: var(--tertiary);
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.user > i {
  font-size: 15px;
  color: var(--gold);
}

#menu > div {
  width: 30px;
  padding: 2px;
  border-radius: 20px;
  background: var(--bg-gold);
  background: linear-gradient(
    275deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
  margin-bottom: 7px;
}

#menu-x {
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
}

#menu-x > i {
  color: var(--gold);
  font-size: 35px;
}

#sub-menu {
  color: var(--tertiary);
  display: none;
}

#sub-menu ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#sub-menu ul li {
  border: 2px solid var(--gold);
  margin: 3px;
  padding: 3px;
  border-radius: 20px;
  min-width: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-menu ul li {
  background: var(--bg-gold);
  background: linear-gradient(
    275deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
  color: white;
}

.active {
  display: block;
}

/* MAin */
main {
  color: var(--primary);
  margin-top: 30px;
}

main > h1 {
  text-align: center;
  padding: 10px;
  background: var(--bg-gold);
  background: linear-gradient(
    125deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
}

.jumbotron {
  background-image: url(img/jonathan-borba-lrQPTQs7nQQ-unsplash-scaled-e1604518707820.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary);
  height: 300px;
  position: relative;
}

.jumbotron > button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  padding: 4px 15px;
  border-radius: 20px;
  color: var(--tertiary);
  background: var(--bg-gold);
  background: linear-gradient(
    125deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
}

.jumbotron > i {
  color: var(--secondary);
  font-size: 60px;
  transform: translateY(-50%);
}

.jumbotron i:first-child {
  position: absolute;
  left: 5px;
  top: 50%;
}

.jumbotron i:nth-child(2) {
  position: absolute;
  right: 5px;
  top: 50%;
}

.nostri-corsi {
  margin: 50px 0;
  text-align: center;
}

.nostri-corsi > h2,
.servizi-personalizzati > h2 {
  text-align: center;
  background: var(--bg-gold);
  background: linear-gradient(
    125deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card .card-image {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.card-image > img {
  width: 100%;
  border-radius: 50%;
}

.card > button,
.servizi > button {
  width: 150px;
  padding: 4px 15px;
  border-radius: 20px;
  color: var(--tertiary);
  background: var(--bg-gold);
  background: linear-gradient(
    275deg,
    var(--bg-bronze) 10%,
    var(--bg-gold-tr) 80%
  );
}

.servizi {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servizi > h2,
.servizi > p {
  text-align: center;
  padding: 0 10px;
}

.servizi > button {
  margin-top: 20px;
}

.servizi-image {
  width: 100%;
}

.servizi-image > img {
  width: 100%;
}

footer {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .contatti {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.contatti .phone,
.contatti .mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone > p,
.mail > p {
  margin-left: 10px;
}

footer .logo-min {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.logo-min > img {
  width: 100%;
  border-radius: 50%;
  padding: 10px;
}

.orari {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
/* color: var(--gold);
  background: rgb(212, 175, 55);
  background: linear-gradient(
    225deg,
    rgba(80, 49, 19, 1) 10%,
    rgba(212, 175, 55, 1) 80%
  )
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
